name = "microblog-api"
main = "src/index.ts"
compatibility_date = "2024-11-24"

# Custom domains
routes = [
  { pattern = "mb.krnk.app", custom_domain = true },
  { pattern = "mb-api.krnk.app", custom_domain = true },
]

# Static Assets (Next.js build output)
[assets]
directory = "../frontend/out"
binding = "ASSETS"

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "microblog-db"
database_id = "0401e205-3639-479f-a203-46c664010b23"

# R2 Storage
[[r2_buckets]]
binding = "MEDIA"
bucket_name = "microblog-media"

# Workers Secrets (ローカル開発用は .dev.vars に記載)
# AUTH_PASSWORD = "your-password-here"
